
.footer {
    /*margin: 0 auto;*/
}

    .footer .navbar {
        margin: 0 auto;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .footer__navbar-text {
            float: none;
            color: white;
            margin: 0 auto;
        }
