@import "common-assets/styles/bootstrap.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

@font-face {
    font-family: comic;
    src: url("./common-assets/fonts/comic.ttf");
}

body {
    min-width: 320px;
    min-height: 240px;
    background: #F8F8F8 url("./common-assets/img/bg3.png") repeat;
}


@media (max-width: 768px) {
    .container-fluid {
        padding-right: 3px;
        padding-left: 3px;
    }
}

.btn, .navbar, select, select.form-control, .panel, .panel-heading {
    border-radius: 0
}


.table-centred {
    width: auto !important;
    margin: 0 auto;
}