.header {
    /*
      background-color: #455a64;
    */
    background-color: #2c3e50;
}

    .header__heading{
        margin: 20px;
        /*color: #13daec;*/
        color: white;
        font-family: comic, cursive;
        font-weight: 300;
        text-shadow: 0px 1px 0px #050058;
        letter-spacing: -2px;
        text-transform: uppercase;
    }

