.login-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    /*
    background: url("../img/login-bg.png") fixed no-repeat center center;
    background-size: cover;
    */
}

    .login-box {
        width: 420px;
        margin: 0 auto;
        background: #fff;
    }

        .login-box-body {
            border-top: 1px dotted #eee;
        }

            .login-box-msg {
                font-style: italic;
            }



/*.login-box .loading-block {*/
/*padding-top: 0;*/
/*border-top: 1px solid #eee;*/
/*}*/

/*.login-box .loading-block .loading-block__spinner-wrapper {*/
/*font-size: 7em;*/
/*}*/

/*.login-box .loading-block .loading-block__caption {*/
/*font-size: 1.2em;*/
/*}*/